{{#section 'header'}}
  <div class="site-admin">
    <h1>Ops</h1>
  </div>

  <div class="site-toolbar">
    {{> admin_menu }}
  </div>
{{/section}}

<!-- TODO(burdon): Dashboard links -->
<!-- TODO(burdon): Get from JSON cheatsheet: comment, commands, links -->

{{#section 'body'}}
  <div class="site-panel">
    <h2>Kubernetes</h2>
  </div>

  <div class="site-panel">
    <h2>Minikube</h2>
  </div>

  <div class="site-panel">
    <h2>AWS</h2>
  </div>

  <div class="site-panel">
    <h2>Docker</h2>
  </div>

  <div class="site-panel">
    <h2>CircleCI</h2>
  </div>

  <div class="site-panel">
    <h2>Github</h2>
  </div>

  <div class="site-panel">
    <h2>Firebase</h2>
  </div>

  <div class="site-panel">
    <h2>Google APIs</h2>
  </div>
{{/section}}
