{{#section 'header'}}
  <div class="site-admin">
    <h1>Tasks</h1>
  </div>

  <div class="site-toolbar">
    {{> admin_menu }}
  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-panel">
    <button onclick="sync()">Sync</button>
  </div>
{{/section}}

{{#section 'script'}}
  <script>
    function sync() {
      Site.postJson('/admin/api', { action: 'task.sync' }).then(() => {
        console.log('OK');
      });
    }
  </script>
{{/section}}
