{{#section 'header'}}
  <div class="site-admin">
    <h1>Users</h1>
  </div>

  <div class="site-toolbar">
    {{> admin/menu }}
  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-panel">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Active</th>
        <th>Admin</th>
        <th>ID</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      {{#each users}}
      <tr>
        <td>{{ active }}</td>
        <td>{{ admin }}</td>
        <td>{{ id }}</td>
        <td>{{ email }}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/section}}
