//
// Copyright 2017 Alien Labs.
//

@import './palette.less';

//
// Fonts
//

@ux-font-family:                        Roboto, sans-serif;
@ux-font-weight:                        100;
@ux-font-xlarge:                        20px;
@ux-font-large:                         18px;
@ux-font-medium:                        16px;
@ux-font-small:                         14px;
@ux-font-xsmall:                        12px;
@ux-font-xxsmall:                       10px;

//
// Colors
//

@ux-color-dark:                         #333;
@ux-color-medium:                       #666;
@ux-color-light:                        #999;

@ux-color-debug:                        #BBB;
@ux-color-error:                        darkred;
@ux-color-star:                         orange;
@ux-color-tag:                          cornflowerblue;
@ux-color-link:                         #185588;

@ux-background-dark:                    #00456e;
@ux-background-light:                   #CCC;
@ux-background-select:                  lightblue;

@ux-body-background:                    #DDD;

@ux-box-shadow:                         1px 2px 3px 0px #999;

//
// Components.
//

@ux-control-color:                      #333;
@ux-control-background:                 #CCC;
@ux-control-background-hover:           #EEE;
@ux-control-border:                     #999;

//
// Layout.
//

@ux-sidebar-width:                      200px;

@ux-header-color:                       white;
@ux-header-background:                  darken(@ux-navbar-background, 10%);

@ux-footer-color:                       #333;
@ux-footer-background:                  #EEE;

@ux-navbar-color:                       white;
@ux-navbar-background:                  #01579B;

@ux-scrollbar-width:                    4px;
@ux-scrollbar-height:                   8px;
@ux-scrollbar-color:                    #666;

//
// Panels.
//

@ux-panel-color:                        #333;
@ux-panel-background:                   white;
@ux-panel-header-color:                 #333;
@ux-panel-header-background:            #F5F5F5;
@ux-panel-padding:                      4px;

//
// Components.
//

@ux-list-highlight:                     @color-200-gray;
@ux-list-drop-active-background:        #BBB;

@ux-card-width:                         350px;
@ux-card-padding:                       4px;
@ux-card-spacing:                       6px;
@ux-card-radius:                        2px;
@ux-card-deck-background:               #DDD;
@ux-card-header-background:             #F5F5F5;
@ux-card-section-header-color:          cornflowerblue;

@ux-board-column-background:            #DDD;
@ux-board-column-border:                1px solid #BBB;
@ux-board-column-spacing:               4px;
@ux-board-column-header-background:     #F5F5F5;
@ux-board-padding:                      4px;
@ux-board-radius:                       0;
