//
// Copyright 2017 Alien Labs.
//

@import (reference) './ref/theme.less';

//
// Fonts.
//

.ux-font-xsmall   { font-size: @ux-font-xsmall; }
.ux-font-small    { font-size: @ux-font-small;  }
.ux-font-medium   { font-size: @ux-font-medium; }
.ux-font-large    { font-size: @ux-font-large;  }
.ux-font-xlarge   { font-size: @ux-font-xlarge; }

//
// Components.
//

.ux-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.ux-link {
  color: @ux-color-link;
  cursor: pointer;
}

.ux-debug {
  overflow: hidden;
}

ul.ux-inline {
  list-style-type: none;

  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    display: inline;
    padding-left: @ux-font-xsmall;
    font-size: @ux-font-small;
  }
}
