//
// Copyright 2017 Alien Labs.
//

@import (reference) './ref/theme.less';

.ux-fullscreen {
  display: flex;
  position: fixed;

  justify-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//
// Containers
//
// Rules:
// Padding is always explicit (i.e., assume containers have no padding).
//

.ux-row {
  display: flex;
  flex-direction: row;
}

.ux-column {
  display: flex;
  flex-direction: column;
}

.ux-columns {
  display: flex;
  flex-direction: row;
}

.ux-grow {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.ux-noshrink {
  display: flex;
  flex-shrink: 0;
}

.ux-center {
  justify-content: center;
}

.ux-debug {
  color: #999;
  font-size: @ux-font-small;
  word-break: break-all;
}

// TODO(burdon): Forms (align controls: ux-data-row).

//
// Panels
//
// <div class="ux-panel">
//   <div class="ux-padding">
//     <span>Content</span>
//   </div>
// </div>
//

.ux-panel {
  color: @ux-panel-color;
  background-color: @ux-panel-background;

  &.ux-padding {
    padding: @ux-panel-padding;
  }
}

//
// Toolbar
// <div class="ux-toolbar">
//   <div class="ux-grow">
//     <TextBox class="ux-grow"/>
//   <div/>
//   <div>
//     <i class="ux-icon"/>
//     <i class="ux-icon"/>
//   </div>
// </div>
//

.ux-toolbar {
  .ux-row;
  .ux-grow;
  .ux-noshrink;

  justify-content: space-between;
  align-items: center;

  // Tool groups are padded.
  > * {
    margin: 0 2px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  // Controls within tool groups are padded.
  > div {
    > * {
      margin: 0 2px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//
// Scrollbar
// NOTE: The outer scroll-container must expand and make the overflow hidden.
// NOTE: Scrolling requires display:flex in all ancestors.
// https://css-tricks.com/almanac/properties/s/scrollbar
//
// <div class="ux-scroll-container ux-column">
//   <div>...</div>
// </div>
//

.ux-scroll-container {
  display: flex;

  > div {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &.ux-column {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &.ux-row {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &::-webkit-scrollbar {
    width: @ux-scrollbar-width;
    height: @ux-scrollbar-height;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @ux-scrollbar-color;
  }
}
