/*
 * TODO(burdon): Replace wth webpack app.
 */

body {
  border: 0;
  background: black url(/img/moon.png) no-repeat bottom center fixed;
  overflow: hidden;
}

div.site-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.site-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

div.site-center {
  display: flex;
  flex-direction: column;
}

div.site-spacer {
  display: flex;
  flex-grow: 1;
}

h2 {
  margin: 0;
  font-family: Monaco, monospace;
  font-size: 16px;
  font-weight: 100;
  color: #666;
}