/*
 * TODO(burdon): Replace wth webpack app.
 */

body {
  margin: 0;
  background-color: #1da1f2;
}

div.site-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.site-column {
  display: flex;
  flex-direction: column;
}

div.site-center {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 60px;
/*font-family: Monaco, "Lucida Console", monospace;*/
  font-family: monospace;
  font-size: 60px;
  color: #148ad6;
}

img {
  opacity: .3;
}