//
// Copyright 2017 Alien Labs.
//

@import '../../node_modules/graphiql/graphiql.css';

.site-body {
  display: flex;
  flex-grow: 1;

  > div {
    display: flex;
    flex-grow: 1;
  }
}

#root {
  display: flex;
  flex-grow: 1;

  height: inherit;
}
