<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Beta</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/app/assets/site.css">

    {{{ sections.head }}}
  </head>

  <body>
    <div class="site-container">
      <div class="site-header">
        {{{ sections.header }}}
      </div>

      <div class="site-body">
        <div>
          {{{ sections.body }}}
        </div>
      </div>

      {{> footer }}
    </div>

    <script src="/app/assets/site.bundle.js"></script>

    {{{ sections.script }}}
  </body>
</html>
