{{#section 'header'}}
  <div class="site-testing">
    <h1>Testing</h1>
  </div>

  <div class="site-toolbar">
    <div>
      <a class="site-button" href="/testing/graphiql" target="ALIEN_GRAPHIQL">GraphiQL</a>
      <a class="site-button" href="/testing/crx">CRX</a>
      <a class="site-button" href="/app?bundle=test_sidebar">Sidebar</a>
      <a class="site-button" href="/app?bundle=test_apollo">Apollo</a>
    </div>

    <div>
      <a class="site-button" href="https://github.com/alienlabs">Github</a>
      <a class="site-button" href="https://circleci.com/dashboard">CircleCI</a>
    </div>
  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-panel">
    <h2>Apps</h2>
    <ul>
      <li><a href="/app">App</a></li>
      <li><a href="/app?bundle=test_app">Test App</a></li>
      <li><a href="/app?bundle=test_apollo">Test Apollo</a></li>
      <li><a href="/app?bundle=test_apollo&network=testing">Test Apollo (client-only)</a></li>
      <li><a href="/app?bundle=test_sidebar&platform=mobile-testing">Test CRX/Mobile</a></li>
    </ul>
  </div>

  <div class="site-panel">
    <h2>GraphQL</h2>
    <table>
      <tbody>
      {{#each queries}}
      <tr>
        <td>
          <pre><a href="{{ url }}">{{ title }}</a></pre>
        </td>
        <td>
          <pre>{{ query }}</pre>
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/section}}
