{{#section 'header'}}
  <div class="site-user">
    <h1>Services</h1>
  </div>

  <div class="site-toolbar">
    <div>
      <a class="site-button" href="/home">Home</a>
      <a class="site-button" href="/profile">Profile</a>
    </div>

    <div>
      <a class="site-button" target="_blank" href="https://myaccount.google.com/permissions">Google App Permissions</a>
    </div>
  </div>
{{/section}}

{{#section 'body'}}
  <div class="site-services">
    {{#each providers}}
    <div class="site-service">
      <div>
        <span>{{ title }}</span>
      </div>
      <div>
        <a href="{{ link }}"><img src="{{ icon }}"/></a>
      </div>
    </div>
    {{/each}}
  </div>
{{/section}}
