//
// Copyright 2017 Alien Labs.
//

@import (reference) '../../resources/css/ref/theme';

.ux-home {
  padding: 32px;

  .ux-home-group {
    margin-bottom: 16px;

    > .ux-header {
      align-items: center;

      .ux-icon {
        padding-right: 8px;
        font-size: @ux-font-xlarge;
      }

      h2 {
        font-size: @ux-font-xlarge;
        font-weight: 400;
      }

      padding: 8px;
    }

    .ux-home-project {
      width: 250px;
      min-height: 80px;

      background-color: white;
      border: 1px solid #CCC;

      > .ux-header {
        padding: 8px;
      }
    }
  }
}
