//
// Copyright 2017 Alien Labs.
//

@import '../../resources/css/core.less';

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;

  .ux-fullscreen;
}

#app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: whitesmoke;
  box-shadow: 4px 4px 16px #999;
}

.test-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.test-header {
  background-color: #90CAF9;
  padding: 16px;

  a {
    padding: 4px;
  }
  a:hover {
    background-color: cornflowerblue;
  }
}

.test-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .ux-bar {
    background-color: #F5F5F5;
    padding: 4px;
  }

  .ux-list {
    background-color: white;
  }

  .test-content {
    padding: 16px;
  }
}
