//
// Copyright 2017 Alien Labs.
//

@import '../../resources/css/app.less';

header {
  color: @ux-header-color;
  background-color: @ux-header-background;
}

footer {
  color: @ux-footer-color;
  background-color: @ux-footer-background;
}

//
// Forms
// TODO(burdon): Clean-up. Move to layout.
//

// TODO(burdon): Remove/Rename form?
.ux-data {
  display: flex;
  flex-direction: column;

  .ux-data-row {
    margin-bottom: 4px;
  }
}

// TODO(burdon): Rename ux-control-row?
.ux-data-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .ux-data-label {
    font-size: @ux-font-small;
    padding-right: 4px;
    min-width: 100px;
  }

  .ux-text {
    .ux-text-nowrap;

    margin: 1px;                    // Align with inline input (border).
    padding: 2px 4px;
  }

  .ux-text-block {
    margin: 1px;                    // Align with inline input (border).
    padding: 2px 4px;
  }

  input[type=text] {
    padding: 2px 4px;
  }

  select {
    padding: 2px 4px;
  }
}

//
// Elements
//

.ux-tag {
  margin-left: 4px;
  padding: 3px 4px;
  border-radius: 4px;
  background-color: @ux-color-tag;
  color: white;
  cursor: pointer;
}
.ux-tag:first-child {
  margin-left: 0;
}

.ux-debug {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Monaco, monospace;
  font-size: 10px;
  color: @ux-color-debug;
}

.ux-error {
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  font-family: Monaco, monospace;
  font-size: 14px;
  color: @ux-color-error;
}

.ux-card-deck {
  display: flex;
  flex-direction: column;
}

.ux-card {
  width: @ux-card-width;

  color: @ux-panel-color;
  background: @ux-panel-background;

  > .ux-header {
    padding: @ux-panel-padding;
    background-color: @ux-panel-header-background;

    h1 {
      font-size: @ux-font-large;
      color: @ux-panel-header-color;
    }
  }

  > .ux-footer {
    padding: @ux-panel-padding;
    font-size: @ux-font-xsmall;
    color: @ux-color-light;
  }

  > .ux-main {

    > .ux-card-section {
      font-size: @ux-font-medium;
      //color: @ux-section-color;

      //border-bottom: @ux-section-border;
      padding-bottom: 4px;

      > .ux-card-section-header {
        .ux-row;
        padding: @ux-panel-padding;

        h2 {
          .ux-grow;
          font-size: @ux-font-xsmall;
          //color: @ux-section-header-color;
          cursor: pointer;
        }

        .ux-icon {
          font-size: @ux-font-small;
          color: @ux-color-light;
        }
      }

      > .ux-main {
        > .ux-list {
          font-size: @ux-font-medium;
        }
      }
    }
    > div.ux-card-section:last-of-type {
      border-bottom: none;
    }
  }
}

.ux-card-deck {
  .ux-card {
    margin-bottom: @ux-card-margin;
  }
  .ux-card:last-child {
    margin-bottom: 0;
  }
}
.ux-card-deck.ux-card-deck-floating {
  .ux-card {
    margin: 0 @ux-card-margin @ux-card-margin;
    border-radius: @ux-card-radius;
    box-shadow: @ux-box-shadow;
  }
  .ux-card:first-child {
    margin-top: @ux-card-margin;
  }
}

.ux-card {
  .ux-image.ux-item-avatar {
    width: 40px;
    height: 40px;
  }
  .ux-image.ux-item-map {
    width: 100%;
    height: 100px;
  }
}

.ux-list {
  .ux-column;

  .ux-list-item {
    padding: 0 @ux-panel-padding;
    align-items: center;

    .ux-icon {
      margin: 0 4px;
    }
    .ux-icon:first-child {
      margin-left: 0;
    }
    .ux-icon:last-child {
      margin-right: 0;
    }
  }
  .ux-list-item:hover {
    background-color: #EEE;
  }
}
