//
// Copyright 2017 Alien Labs.
//

@import (reference) '../resources/css/ref/mixin.less';
@import (reference) '../resources/css/ref/theme.less';

.ux-board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .ux-board-columns {
    padding: 4px;

    .ux-board-column {
      display: flex;
      flex-direction: column;

      min-width: @ux-card-width;

      margin: 2px;
      padding: 4px 0;

      background-color: #FAFAFA;
      border: 1px solid #E5E5E5;
      border-radius: 4px;

      .ux-board-column-header {
        flex-shrink: 0;
        margin-bottom: 8px;

        h2 {
          padding: 0 4px;
          font-weight: 400;
        }
      }

      .ux-board-column-footer {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding: 4px;
      }
    }
  }
}
