//
// Copyright 2017 Alien Labs.
//

@import (reference) '../resources/css/ref/mixin.less';
@import (reference) '../resources/css/ref/theme.less';

.ux-board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: hidden;

  .ux-board-columns {
    margin: @ux-board-column-spacing;

    .ux-board-column {
      display: flex;
      flex-direction: column;
      width: @ux-card-width;

      background-color: @ux-board-column-background;
//    border: @ux-board-column-border;
      border-radius: @ux-board-radius;
      box-shadow: @ux-box-shadow;

      margin-right: @ux-board-column-spacing;
      &:last-child {
        margin: 0;
      }

      .ux-board-column-header {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding: @ux-board-padding 2 * @ux-board-padding;

        background-color: @ux-board-column-header-background;

        h2 {
          font-size: @ux-font-small;
        }
      }

      .ux-board-column-footer {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding: @ux-board-padding;
        margin-bottom: 2px;
      }

      .ux-card-deck.ux-list {
        > .ux-list-items {
          padding: 0 @ux-card-spacing;
        }
      }
    }
  }
}
