//
// Copyright 2017 Alien Labs.
//

@import '../resources/css/ref/mixin';

.ux-debug-panel-container {
  position: relative;

  .ux-debug-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;

    color: darkgray;
    background-color: #333;

    opacity: .8;

    h4 {
      padding: 3px;
      background-color: #222;
    }

    > div {
      padding: 1px;
      font-size: 12px;

      input {
        font-size: 12px;
      }

      label {
        .ux-text-noselect;
        .ux-press;
      }
    }
  }
}
