//
// Copyright 2017 Alien Labs.
//

@import (reference) '../resources/css/ref/theme.less';

.ux-list {
  display: flex;
  flex-direction: column;

  .ux-list-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
  }

  // NOTE ux-list-item  also wraps the ux-list-editor.
  > .ux-list-editor {
    // Account for list scrollbar.
    margin-right: @ux-scrollbar-width !important;
  }

  // NOTE: No margins.
  .ux-list-item {
    margin: 0;
  }

  // Default style (e.g., does not apply to cards).
  .ux-list-item {
    .ux-row {
      padding: 4px;

      > .ux-icon {
        margin-right: 4px;

        &:last-child {
          margin: 0;
        }
      }

      .ux-icons {
        margin-left: 4px;
      }

      // Hide delete icon unless hover.
      .ux-hover {
        display: none;
      }
      .ux-no-hover {
        display: block;
      }
    }

    &:hover {
      .ux-row {
        .ux-hover {
          display: block;
        }
        .ux-no-hover {
          display: none;
        }
      }
    }
  }

  &.ux-list-highlight {
    .ux-list-item:hover {
      background-color: @ux-list-highlight;
    }
  }

  //
  // Drag and Drop
  //

  .ux-drag-source {

    &.ux-dragging {
      display: none;
    }

    > .ux-debug {
      display: none;
      text-align: right;
    }
  }

  .ux-drop-target {

    .ux-drop-placeholder {
//    height: 0;

      // Close quickly.
      //-webkit-transition: height 0s;
      //-moz-transition: height 0s;
      //transition: height 0s;

      > .ux-debug {
        display: none;
        text-align: left;
        color: blue;
      }
    }

    &.ux-active {

      // Height is set by DND from dragging element.
      .ux-drop-placeholder {
        background-color: @ux-list-drop-active-background;

        // Animate open.
        //-webkit-transition: height .2s;
        //-moz-transition: height .2s;
        //transition: height .2s;
      }
    }

    &.ux-last {
      display: flex;
      flex-grow: 1;

      .ux-drop-placeholder {
        display: flex;
        flex-grow: 1;

        // Show immediately.
        //-webkit-transition: height 0s !important;
        //-moz-transition: height 0s !important;
        //transition: height 0s !important;
      }
    }
  }
}
