{
  //
  // http://babeljs.io/docs/usage/babelrc
  // http://babeljs.io/docs/usage/options
  //

  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],

  "plugins": [

    // http://babeljs.io/docs/plugins/transform-async-to-generator
    "transform-async-to-generator"
  ],

  "env": {
    "hot": {
      "plugins": [

        // http://gaearon.github.io/react-hot-loader/getstarted
        "react-hot-loader/babel"
      ]
    }
  }
}
