<div>
  <a class="site-button" href="/admin">Config</a>
  <a class="site-button" href="/admin/users">Users</a>
  <a class="site-button" href="/admin/clients">Clients</a>
</div>

<div>
  <!-- TODO(burdon): Links from config. -->
  <a class="site-button" target="ALIEN_KUBE"
     href="http://localhost:8001/ui" title="kubectl proxy">Kubernetes</a>
  <a class="site-button" target="ALIEN_AWS"
     href="https://console.aws.amazon.com/console/home?region=us-east-1">AWS Console</a>
  <a class="site-button" target="ALIEN_GOOGLE"
     href="https://console.developers.google.com/iam-admin/settings/project?project=alienlabs-dev">Google Admin</a>
  <a class="site-button" target="ALIEN_GOOGLE"
     href="https://console.developers.google.com/apis/dashboard?project=alienlabs-dev">Google APIs</a>
  <a class="site-button" target="ALIEN_FIREBASE"
     href="https://console.firebase.google.com/project/alienlabs-dev/database/data">Firebase</a>
  <a class="site-button" target="ALIEN_LOGGLY"
     href="https://alienlabs.loggly.com">Loggly</a>
</div>
