<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alien Labs</title>
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <div class="site-container">
  {{{ body }}}
  </div>
</body>
</html>
