<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ css }}">
</head>
<body>
  <div class="site-container">
  {{{ body }}}
  </div>
</body>
</html>
